.App {
    margin-top: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    display:block;
    justify-content: center;
}


.upper-btn {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;

}